.debounceContainer, .throttleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#buttonPressed, #triggeredTimes {
    padding-top:15px
}


